.highlight {
  color: #e8e8e8;
  background-color: #23282c;
  padding: 100px 0;
}

.highlight p {
  color: #cfcfcf;
}

.highlight h1 {
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight .intro {
  font-size: 18px;
  max-width: 1000px;
  margin: 0 auto 25px;
}

.highlight .buttons {
  text-align: center;
}

.highlight .buttons .btn {
  padding: 16px 32px;
  border-radius: 50px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
  background-color: #ffffff;
}

.highlight .buttons .btn:hover {
  opacity: 1;
}

.highlight .buttons .btn:active {
  transform: translateY(1px);
}

.highlight .buttons .btn-primary {
  background-color: #ff6600;
  color: #fff;
}

